{
    background-color: lightblue;
}
.center {
    text-align: center;
    border: 3px solid green;
}
h1 {
    text-align: center;
}
<div class="center">
body {
    color: red;
    text-align: center;
}
</div>
p {
    font-family: verdana;
    font-size: 20px;
}
