hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
body {
  font: 16px Helvetica, Sans-Serif;
}

#img {
  float: right;
}

.date{
  float: right;
}

.content {
width: 80%;
margin: auto;
background: lightblue;
padding: 20px;
border-radius: 20px;
}

h1 { font-family: Palatino, 'palatino Linotype', serif;
  font-size: 32px;
  color: darkolivegreen; 
}
  
